jenkins/src/main/mule/jenkins-main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="jenkins-main-getFlow" doc:id="e32ffa70-13d1-4f24-af6a-0fd4392dfbef" >
		<salesforce:query doc:name="Query" doc:id="a362d72f-1d0c-4f10-9ac7-8d076e6a41b8" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT AccountId__c,Id,Integrationmessage__c,IntegrationStatus__c,Sync_Immediate__c FROM BillingJunction__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="fa1fb37d-1582-45e1-a90b-1e5b2968a84c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="jenkins-UpsertFlow" doc:id="7fab11c3-fb19-4f26-bb2b-4184fdab68ce" >
		<salesforce:upsert objectType="BillingJunction__c" externalIdFieldName="Id" doc:name="Upsert" doc:id="fffa4b6f-54b6-4f65-a01a-7fe48310039e" config-ref="Salesforce_Config">
			<salesforce:records ><![CDATA[#[[payload]]]]></salesforce:records>
		</salesforce:upsert>
		<ee:transform doc:name="Transform Message" doc:id="ba40553e-b43c-43d9-a8b0-cc870724cc2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
